@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
}
iframe {
  /* pointer-events: none; */
  overflow: scroll;
}
.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  /* background: orange; */
  /* background: linear-gradient(45deg, #00b5f5, #002a8f); */
  color: white;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  /* box-shadow: 0 5px 5px rgb(200, 200, 200, 0.4); */
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
}
.back-to-top-dark {
  box-shadow: 0 5px 10px rgb(0, 0, 0);
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
}

.back-to-top:hover {
  background: linear-gradient(105deg, #002a8f, #00b5f5);
}

.ownshadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.whiteshadow {
  box-shadow: rgba(255, 255, 255, 0.1) 0px 10px 50px;
}
.whiteshadow2 {
  -webkit-box-shadow: 5px 5px 44px -16px rgba(255, 255, 255, 1);
  -moz-box-shadow: 5px 5px 44px -16px rgba(255, 255, 255, 1);
  box-shadow: 5px 5px 44px -16px rgba(255, 255, 255, 1);
}

.authorbg {
  background-image: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  --tw-gradient-from: #a855f7;
  --tw-gradient-to: rgb(168 85 247 / 0);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: #ec4899;
  padding: 0.15rem;
}
.shadowpress {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.bebas {
  font-family: 'Bebas Neue', cursive;
}

.hover\:glow:hover {
  filter: drop-shadow(0px 0px 7px rgba(59, 130, 246, 0.5));
}

.group:hover .group-hover\:\-translate-y-1 {
  transform: translateY(-0.25rem);
}

.group:focus .group-focus\:pt-20 {
  padding-top: 5rem;
}

.animate-down {
  transform: translateY(250%) !important;
}

.animate-up {
  transform: translateY(-250%) !important;
}

.hidden {
  display: none;
}

.noterep_text_gradient {
  background: linear-gradient(90deg, #007cf0, #00dfd8);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.neumorphism_btn_ {
  box-shadow: 3px 3px 3px #1c1d26, -3px -3px 3px #343746;
  background-color: #282a36;
  border-radius: 15px;
  padding: 0.5rem 1rem;
  color: rgba(248, 248, 242);
}

.neumorphism_btn {
  box-shadow: 12px 12px 17px #054799, -12px -12px 17px #097bff;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  color: rgba(248, 248, 242);
}
.text-sh {
  text-shadow: 1px 1.5px 5px #3d3d3d47;
}

.grad_button {
  display: inline;
  border-radius: 10px;
  box-shadow: 12px 12px 17px #054799, -12px -12px 17px #097bff;
  background-image: linear-gradient(
    to right,
    #1fa2ff 0%,
    #12d8fa 51%,
    #1fa2ff 100%
  );
  color: #ffffff;
  transition: all 0.5s;
  cursor: pointer;
  background-size: 200% auto;
  text-shadow: 2px 1.5px 5px #054799;
}
.grad_button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fefefe;
  letter-spacing: 1px;
  text-decoration: none;
  box-shadow: none;
  text-shadow: none;
}

.grad_button2 {
  display: inline;
  border-radius: 10px;
  box-shadow: 12px 12px 17px #054799, -5px -5px 17px #097bff;
  background-image: linear-gradient(
    to right,
    #1fa2ff 0%,
    #12d8fa 51%,
    #1fa2ff 100%
  );
  color: #ffffff;
  transition: all 0.5s;
  cursor: pointer;
  text-shadow: 2px 1.5px 5px #054799;
  background-size: 200% auto;
}

.grad_button2:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
  box-shadow: none;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}
.avatar {
  width: 150px;
  height: 150px;
  box-sizing: border-box;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  /* transform: translatey(0px);
  animation: float 6s ease-in-out infinite; */
}
@-webkit-keyframes animate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.box {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}
.box::before {
  content: '';
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  position: absolute;
  inset: -20px 0px;
  transition: 0.5s;
  -webkit-animation: animate 3s linear infinite;
  animation: animate 3s linear infinite;
}
.box .content {
  position: absolute;
  z-index: 3;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
}
.box .content h2 {
  position: relative;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  padding: 10px 0;
}
.box .content h2 span {
  display: block;
  font-weight: 300;
  font-size: 13px;
  padding: 5px 0;
}
.box_a {
  position: relative;
  background-color: #fff;
  color: #000;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  transition: 0.5s;
}
.box:hover::before {
  inset: -20px 0px;
}

.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  background: #111;
  color: #fff;
  cursor: pointer;
  position: relative;
  font-weight: bold;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: '';
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 10px;
}
.button-86 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  background: #111;
  color: #fff;
  cursor: pointer;
  position: relative;
  font-weight: bold;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-86:before {
  content: '';
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff00c8,
    #ff0000,
    #7a00ff,
    #fffb00,
    #ff7300,
    #00ffd5,
    #48ff00,
    #002bff
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-86 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-86 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-86:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 10px;
}
